.u-center-text {
    text-align: center;
}

.u-margin-bottom-8 {
    margin-bottom: .5rem;
}

.u-margin-bottom-normal {
    margin-bottom: 1rem;
}

.u-margin-bottom-small {
    margin-bottom: .5rem;
}

.u-margin-bottom-larger {
    margin-bottom: 1.5rem;
}

.u-txt-center {
    text-align: center;
}

.u-content-center {
    margin: 0 auto;
}

.u-sm-mt-2 {
    margin-top: 2rem;
    @media (min-width: 768px){
        margin-top: initial;
    }
}

.u-txt-upper {
    text-transform: uppercase;
}

.u-grid-container {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.-u-grid-container-column-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.u-box-shadow {
    border-radius: 16px;
    box-shadow: 0 9px 16px 0 rgba(65, 65, 65, 0.1);
}

.u-main {
    width: 100%;
    height: 100vh;
}
    
@media (min-width: 992px){
    .u-grid-container-column-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

     
@media (min-width: 1200px){
    .xl-main {
        max-width: var(--screen-max-width);
        margin: 0 auto;
    }
}