
$color-white-light: #f4f4f4;
$color-white-dark: #fff;

$color-white: #fff;
$color-black: black;

$color-red-dark: #9B1B30;
$color-red-light: #9E1030;

$color-grey-light: #D8D8D8;
$color-grey-dark: #383f53;


$color-eden-light :#264E36;

$color-orange-light: #F96714;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;


$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;