.header-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.header-information__left {
    font-size: 1rem;
    width: 50%;
}

.header-information__right {
    width: 50%;
}

.header-information__right-title{
    font-size: 0.7rem;
    text-transform: capitalize;
    color: var(--u-orange-tiger);
    text-align: end;
}

.header-information__title {
    font-weight: 600;
    color: var(--u-txt-eden-color);
}

