@import '../../../sass/variable';

.card-list {
    &__title {
        margin-bottom: 1rem;
    }

    &__content{    
        font-size: 1rem;
        font-weight: 700;
        color: $color-black;
        
        background-color: $color-white;
        padding: 1em;
        margin: 0;
    }
    
}