.header-information .text-right .title-date {
    font-size: 12px !important;
    text-transform: capitalize !important;
}

.header-information .title h6 {
    font-weight: 600;
    color: var(--u-txt-eden-color);
}

