.layout-project h5{
    color: #aaa;
    margin-bottom: 8px;
    font-weight: 400;
}

.header-information .text-right .title-date {
    font-size: 12px !important;
    text-transform: capitalize !important;
}

.header-information .title h6 {
    font-weight: 600;
    color: var(--u-txt-eden-color);
}

.book-card-item--grid {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));

}