.home-photo {
  display: block;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding-bottom: calc(100% - 36px); */
  background-color: #fff;
  /* border-radius: 1000px; */
  /* border: 18px solid #fff; */
  overflow: hidden;
  -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
  box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
  height: 600px;
}

.home-photo .hp-inner {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 4px solid #268208;
  background-position: calc(50% + 0.833333px) calc(50% + 4.17169px);
  background-image: url('/my-icon.jpeg'); 
  background-size: cover; 
  box-shadow: 0px 1px 9px 2px #bdb2b2;
}

.card-info {
  background-color: #fff;
  font-family: "Poppins",Helvetica,sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.card-info .title-job {
  font-size: 16px;
  color: #aaa;
  font-weight: 300;
  margin-bottom: 10px;
}

.card-info .title-name {
  font-size: 48px;
  line-height: 56px;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
}

h5
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
}

p
{
  font-size:12px;
}

.center
{
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.icon-lg {
  width: 100px;
  height: 100px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.icon-lg:hover {
  width: 110px;
  height: 110px;
}