@import "../../../sass/variable";

.blog-navigation {

    &--modify {
        margin-top: 3rem;
        margin-left: 3rem;
    }

    &__link-name {
        margin-right: 1rem;
    }

    &__link {
        color: $color-red-dark;
        font-size: 1rem;
    }
}
