.txt-page{
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.36px;
    text-align: left;
    color: #222122;
    margin: 0;
}


.avatar.img-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
 }
.bnt-upload-file {
    position: relative;
    height: 30px;
    margin-top: 16px;
    background-size: cover;
}

.bnt-upload-file span {
    z-index: 10;
    position: absolute;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    text-align: center;
}
.bnt-upload-file input {
    opacity: 0;
    z-index: 11;
    position: absolute;
}