@import '../../sass/variable';
@import '../../sass/navigation';

.page-header {
    height: 100vh;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    &--hover-delay {
        transition: 0.2s;
    }
}

.header-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;

    &--zoom-in-image:hover + .page-header-picture .page-header_image {
        transform: scale(1.02);
        opacity: 0.9;
    }
}

.header-content-wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 6em;
        color: $color-white-light;
        font-weight: bold;
    }

    &__txt {
        color: $color-white-light;
        font-size: 1em;
        padding: 0 2rem;
    }
}

.header-picture {
    
    &__content{
        transition: all 0.3s;
        height: 95vh;
        max-width: 100%;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
        background-image: linear-gradient(
            to right bottom, 
            rgba($color-orange-light, .6), rgba($color-tertiary-light, .4)), 
            url("/header-img.jpg");

        @media (max-width: 1024px) {
            background-image: linear-gradient(
                to right bottom, 
                rgba($color-orange-light, .6), rgba($color-tertiary-light, .4)), 
                url("/header-img-mid.jpg");
        }    
    }   
}
