.content-layout {
  padding: 16px;
  margin-bottom: 62px;
  background-color: #f4f4f4 !important;
}
.Box-v3-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.Box-v3-header h1 {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.36px;
  text-align: left;
  color: #222122;
  margin: 0;
}
.content-layout .Box-v3-content {
  background-color: white !important;
  border-radius: 15px;
  box-shadow: 0 9px 16px 0 rgba(65, 65, 65, 0.1);
}
.Content {
    height: unset !important;
    padding: 16px;
}
table thead tr th {
    border-top: unset !important ;
}

.row-inline .title p {
    font-size: 13px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: #383f53;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.row-inline .content p {
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: #383f53;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.header-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-information .title {
    font-size: 16px;
    width: 50%;
}

.header-information .edit {
    width: 50%;
}