.content-layout {
    padding: 1.5rem 1rem;
    /* margin-bottom: 62px; */
    background-color: #f4f4f4 !important;
}
.book-card {

}

.book-card-header__title {
    font-size: 2.5em;
    font-weight: normal;
}

.book-card-content {
    font-size: 1rem;
    font-weight: 700;
    color: var( --u-txt-gray-color);
    
    background-color: var(--u-color-white);
    padding: 1em;
    margin: 0;
}


.Content {
    height: unset !important;
    padding: 16px;
}
table thead tr th {
    border-top: unset !important ;
}

.row-inline .title p {
    font-size: 1rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: var(--u-txt-gray-color);
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.row-inline .content p {
    font-size: 1rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: var(--u-txt-gray-color);
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.header-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-information .title {
    font-size: 16px;
    width: 50%;
}

.header-information .edit {
    width: 50%;
}

/* table  */

.table {
    font-weight: initial;
    color: var(--u-txt-gray-color);
}
/* /table  */