@import '../../../sass/variable';

.content-layout {
    padding: 1.5rem 1rem;
    /* margin-bottom: 62px; */
    background-color: $color-white;
}

.book-card-header__title {
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 1rem;
}

.book-card-content {
    font-size: 1rem;
    font-weight: 700;
    color: $color-black;
    
    background-color: $color-white;
    padding: 1em;
    margin: 0;
}


.Content {
    height: unset !important;
    padding: 16px;
}
table thead tr th {
    border-top: unset !important ;
}

.row-inline .title p {
    font-size: 1rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: $color-grey-dark;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.row-inline .content p {
    font-size: 1rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: left;
    color: $color-grey-dark;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}
