@import '../../../sass/variable';

.page-header {
    height: 100vh;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    &--hover-delay {
        transition: 0.2s;
    }
}


.header-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;

    &--zoom-in-image:hover + .page-header-picture .page-header_image {
        transform: scale(1.02);
        opacity: 0.9;
    }

    &_bar-icon {
        background-image: url("/image/header/icon_bar.svg");
        background-size: cover;
        background-repeat: no-repeat;
    
        min-width: 40px;
        min-height: 40px;
        position: absolute;
        top: 30px;
        right: 30px;
        // filter: invert();
    }
}

.header-content-wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 6em;
        color: $color-white-light;
        font-weight: bold;
    }

    &__txt {
        color: $color-white-light;
        font-size: 1em;
        padding: 0 2rem;
    }
}


.page-header-picture {
    &__content{
        transition: all 0.3s;
        height: 95vh;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
        background-image: linear-gradient(
            to right bottom, 
            rgba($color-orange-light, .6), rgba($color-tertiary-light, .4)), 
            url("/header-img.jpg");

        @media (max-width: 1024px) {
            background-image: linear-gradient(
                to right bottom, 
                rgba($color-orange-light, .6), rgba($color-tertiary-light, .4)), 
                url("/header-img-mid.jpg");
        }    
    }   
}


/* The side navigation menu */
.side-nav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: $color-white-light; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    z-index: 100;
    display: none;

    &--modify {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &--show {
        width: 100%;
        display: block;
    }

    &__header {
        &--modify {
            display: flex;
            flex-direction: row-reverse;
            margin-bottom: 2rem;   
        }
    }

    &__header-close {
        background-image: url("/image/header/clear.svg");
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
    }
}

.nav-menu {
    &__item{
        margin: 0;
        display: block;
        line-height: 1;

        &--modifier {
            font-size: 3rem;
            margin-bottom: 4rem;
            font-weight: 500;
        }
    }

    &__link {
        color: $color-grey-dark;
    }
}

.nav-sub-menu {

    &--modifier {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    &__link {
        background: linear-gradient(to right,#dd2424,#dd2424 50%,#191919 50%,#191919 100%);
        background-size: 200% auto;
        background-position-x: 100%;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        transition: 0.8s;
        &:hover {
            background-position-x: 0%;
            color: transparent;
        }
    }
}
