:root {

    /* [Color codes] 
        Header h1:  #9caa3b (green)
        Header h2:  #ee4117 (red)
        Footer:     #b5cede (dark black)

        a (standard):   #0040b6 (dark blue)
        a (visited):    #5999de (light blue)
        a (active): #cc0000 (pink)
    */

    /* Background: #f4f4f4 (white) */ 
    --bg-color-body: #f4f4f4;

    /* background modal  */
    --bg-color-body-modal: #fff;

    /* error message */
    --u-txt-error: #9B1B30;

    /* Button gradient */
    /* primary */
    --u-linear-primary-gradient: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
    /* .btn-grad:hover { background-position: right center; } */
    
    /* secondary */
    --u-linear-secondary-gradient: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    /* .btn-grad:hover { background-position: right center; }; */

    /* danger */
    --u-linear-danger-gradient: linear-gradient(to right, #D31027 0%, #EA384D 51%, #D31027 100%);
    /* .btn-grad:hover { background-position: right center; } */

    /* success */
    --u-linear-success-gradient: linear-gradient(to right, #1D976C 0%, #93F9B9 51%, #1D976C 100%);
    /* .btn-grad:hover { background-position: right center; } */

    /* cancel */
    --u-linear-success-gradient: linear-gradient(to right, #8e9eab 0%, #eef2f3 51%, #8e9eab 100%);
    /* .btn-grad:hover { background-position: right center; } */

    /* button color  */
    --u-bnt-color: #fff;

    /* eden color  */
    --u-txt-eden-color :#264E36;

    /* Orange Tiger */
    --u-orange-tiger: #F96714;

    /* Jester Red */
    --u-txt-jester-red-color :#9E1030;
    
    --u-title-gradient: -webkit-linear-gradient(#1f4037, #99f2c8);


    /* color */
    --u-txt-placeholder-color: #b7b7b7;

    /* border  */
    --u-border-color: #D8D8D8;

    /* book card color   - content*/
    --u-txt-gray-color: #383f53;

    /* book card background color  */
    --u-color-white: white;

    --u-color-side-var: black;

    /* The color of border card */
    --u-color-border-info-card : #f1eded;

}

/* Utility */
.u-zoom-in-image:hover {
    transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.u--hover-mouse:hover {
    cursor: pointer;
}

.u-box-shadow {
    border-radius: 16px;
    box-shadow: 0 9px 16px 0 rgba(65, 65, 65, 0.1);
}

.u-sm-mt-2 {
    margin-top: 2rem;
}
/* /Utility */

.o-main {
    width: 100%;
    height: 100vh;
}

.ant-btn {
    border-color: #eae4e4;
    border-radius: 4px;
}


.ant-btn-primary {
    min-width: 80px;
}

.Row::after {
    content: "";
    clear: both;
    display: table;
}

.u-txt-uppercase {
    text-transform: uppercase;
}

/* form  */
.btn {
    min-width: 150px !important;
    margin-top: 0.5rem;
}
.form-group div {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
.control-label {
    margin-bottom: 0 !important;
    padding: 4px;
    font-size: 13px;
    font-weight: 500;
    color: #686a6b;
}

.form-group {
    margin-bottom: .3rem !important;
}

/* end form  */

.mb-4 {
    margin-bottom: 4rem;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mt-65 {
    margin-top: 65px;
}


/* loader  */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;

    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.lds-ripple {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid red;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
/* /loader  */


/* Grid  */
.u-grid-container {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}


.-u-grid-container-column-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

/* /Grid  */

/* Break point  */

:root{
    /* break point  */
    --screen-sm: 640px;
    --screen-md: 768px;
    --screen-lg: 992px;
    --screen-ex: 1200px;
    --screen-max-width: 1200px;
}
.table--sm-responsive {
    display: block;
    overflow: scroll;
}
@media (min-width: 640px){
    .table--sm-responsive {
        display: table;
    }
     
}
     
@media (min-width: 768px){
    .u-sm-mt-2 {
        margin-top: initial;
    }

}
    
@media (min-width: 992px){

    .u-grid-container-column-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
     
@media (min-width: 1200px){
    .xl-main {
        max-width: var(--screen-max-width);
        margin: 0 auto;
    }
}

/* /Break point  */

body {
    background-color: var(--bg-color-body) !important;
}