@import '../src/sass/_variable.scss';
@import '../src/sass/typography';

@font-face {
    font-family: Spartan;
    src: url('./public/font/Spartan/static/Spartan-Medium.ttf');
}

@font-face {
    font-family: Spartan;
    src: url('./public/font/Spartan/static/Spartan-Bold.ttf');
    font-weight: bold;
}

body {
    margin: 0;
    font-family: "Spartan",Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $color-white-light;
}

