
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: var(--screen-max-width);
}
  
  /* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}
  
/* Container around content */
.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
  
  /* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: white;
    border: 2px solid #ec938b;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 2px 2px #f5a97a, 0 0 2px 2px #edbfb0, 0px 0px 2px 3px #fef1ea;

}


/* Place the container to the left */
.timeline-container--right {
    left: 0;
}
  
/* Place the container to the right */
.timeline-container--right {
    left: 50%;
}
  
.timeline-container--left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the left container (pointing right) */
.timeline-container--right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
  
  /* Add arrows to the right container (pointing left) */
.timeline-container--right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
  
  /* Fix the circle for containers on the right side */
.timeline-container--right::after {
    left: -12px;
}
  
/* The actual content */
.timeline-container__content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.timeline-header {
    text-align: center;
}
  
/* timeline responsive  */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    
    /* Full-width containers */
    .timeline-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .timeline-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .timeline-container--left::after, .timeline-container--right::after {
        left: 18px;
    }
    
    /* Make all right containers behave like the left ones */
    .timeline-container--right {
        left: 0%;
    }
  }