.page-header {
    height: 100vh;
    font-size: 1rem;

    position: relative;
    overflow: hidden;
}

.page-header_image {
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    max-width: 100%;
    max-height: 100%;
    transition: all 0.3s;
}

.page-header--hover-delay {
    transition: 0.2s;
}

.page-header:hover {
    /* opacity: 0.9; */
}

.header-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.header-wrapper--zoom-in-image:hover + .page-header-picture .page-header_image {
    transform: scale(1.02);
    opacity: 0.9;
}

.header-content-wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-content-wrapper__title {
    font-size: 6em;
    color: var(--u-color-white);
    font-weight: bold;
}

.header-content-wrapper__txt {
    color: var(--u-color-white);
    font-size: 1em;
}

.header-wrapper__bar-icon {
    background-image: url("/image/header/icon_bar.svg");
    background-size: cover;
    background-repeat: no-repeat;

    min-width: 40px;
    min-height: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
    filter: invert();
}

/* The side navigation menu */
.side-nav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--u-color-white); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    z-index: 100;
    display: none;
}

.has-side-nav--show {
    width: 100%;
    display: block;
}

.side-nav--modify {
    padding-left: 2rem;
    padding-right: 2rem;
}

.side-nav-menu-item{
    margin: 0;
    display: block;
    line-height: 1;
}

.side-nav-menu-item--modifier {
    font-size: 3rem;
    margin-bottom: 4rem;
    font-weight: 500;
}

.side-nav-menu-item__link {
    color: var(--u-color-side-var);
}

.side-nav-sub-menu--modifier {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.side-nav-header--modify {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2rem;
    
}

.side-nav-header_close {
    background-image: url("/image/header/clear.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.side-nav-menu-item__link {
    background: linear-gradient(to right,#dd2424,#dd2424 50%,#191919 50%,#191919 100%);
    background-size: 200% auto;
    background-position-x: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: 0.8s;
}

.side-nav-menu-item__link:hover {
    background-position-x: 0%;
    color: transparent;
}

