.Header {
  padding: 30px;
  text-align: center;
  background: white;
}

.Header h1 {
  font-size: 50px;
}
.navbar-nav {
  align-items: center;
}

.navbar-nav a {
  font-size: 16px;
  margin-right: 16px;
}