.login-layout--modify {
    height: 100%;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-layout__content {
    box-shadow: 0 9px 16px 0 rgba(65, 65, 65, 0.1);
    background-color: var(--bg-color-body-modal);

    min-height: 500px;
    padding: 25px 20px 28px;
    border-radius: 8px;
    max-width: 22rem;
    width: 22rem;
}

.login-layout__title {
    text-align: center;
    margin: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #888585;
    background: var(--u-title-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-layout__title h1 {
    text-transform: initial;
}

.group-control__error-ms {
    margin-bottom: unset;
    margin-top: 0.5rem;
    color: var(--u-txt-error);
}

.group-control {
    display: flex;
    flex-direction: column;

    margin-bottom: 1.5rem;
}

.group-control__title {
    color: var(--u-txt-eden-color);
    font-size: 14px;
    font-weight: 600;
}
.group-control label span {
    color: var(--u-txt-jester-red-color);
}
.group-control input {
    height: 40px;
    padding-left: 14px;
    font-size: 14px;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
}

.group-control input:focus {
    border: unset;
    outline: unset;
    box-shadow: 0 0 1pt 1pt #11c1a1;
}
.group-control input::-webkit-input-placeholder {
  /* Edge */
    color: var(--u-txt-placeholder-color);
}

.group-control input:-ms-input-placeholder {
  /* Internet Explorer */
    color: var(--u-txt-placeholder-color);
}

.group-control input::placeholder {
    color: var(--u-txt-placeholder-color);
}

.group-control button {
    height: 40px;
    border-radius: 4px;
    border: 0px solid transparent;
    outline: unset;

    background: var(--u-linear-gradient-green-blue);
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}


.group-control .u-bnt-primary-gradient {
    background: var(--u-linear-primary-gradient);
}

.group-control .u-bnt-secondary-gradient {
    background: var(--u-linear-secondary-gradient);
}

.btn:hover,  .btn:focus{
    color: var(--u-bnt-color);
}